div {



    &.light {
        a {
            color: black;
        }

        background-color: rgb(253, 253, 253);

    }

    &.dark {
        background-color: black;

        a {
            color: white;

        }
    }

}